@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(2deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 0.64) 100%);
  height: 100vh;
  padding: 50px 0;
}

header h1 {
  margin: 30px auto;
  font-size: 60px;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background-image: url(JEMA-BRY.jpg);
  background-size: contain;
  background-clip: text;
  color: transparent;
  animation: texto 20s linear infinite;

}

@keyframes texto {
  to{
    background-position-x: -500px
  }
}

.instruction {
  font-size: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 700px;
  background-color: #29336d;
  color: #fff;
  padding: 30px;
  border-radius: 32px;
  gap: 5px;
}

.question {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.question p {
  font-size: 32px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 26px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider::before {
  transform: translateX(24px);
}

footer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.redes {
  font-size: 24px;
  display: flex;
  gap: 10px;
}

.redes a{
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.redes a:hover{
  color: #0000ff;
}
.redes a:active{
  color: #0000ff;
  opacity: 0.5;
}


@media (max-width: 700px){
  header h1{
      font-size: 40px;
  }

  .instruction {
  font-size: 24px;
  margin-bottom: 20px;
  }

  .switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 21px;
  }

  .slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
  }

  .question p {
  font-size: 20px;
}


}